body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 3.5rem;
	font-weight: 900;
	line-height: 1.5;
}

h2 {
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.5;
}

/* Navigation Bar */
.navbar {
	padding: 0 0 4.5rem;
}

.navbar-brand {
	font-family: 'Ubuntu', sans-serif;
	font-size: 2.5rem;
	font-weight: 500;
}

.nav-item {
	padding: 0 18px;
}

.nav-link {
	font-size: 1.2rem;
	font-weight: 300;
}

/* Title Section */
#title {
	background-color: #ff4c68;
	color: white;
}

.container-fluid {
	padding: 3% 15% 12%;
}

/* Download Buttons */
.download-button {
	margin: 5% 3% 5% 0;
}

.title-image {
	position: absolute;
	right: 25%;
	transform: rotate(25deg);
	width: 60%;
}

/* Features Section */
#features {
	background-color: white;
	padding: 7% 15% 0 15%;
	position: relative;
	text-align: center;
}

.features-box {
	margin-bottom: 15%;
}

.features-icon {
	color: #ef8172;
	margin-bottom: 5%;
}

.features-icon:hover {
	color: #ff4c68;
}

.features-title {
	font-size: 1.5rem;
	font-weight: 700;
}

.features-text {
	color: #8f8f8f;
	margin: 0 auto;
	width: 70%;
}

/* Testimonials Section */
#testimonials {
	background-color: #ef8172;
	color: white;
	text-align: center;
}

.testimonial-img {
	border-radius: 100%;
	margin: 20px;
	width: 10%;
}

#press {
	background-color: #ef8172;
	padding-bottom: 3%;
	text-align: center;
}

.press-logo {
	margin: 20px 20px 50px;
	width: 15%;
}

.carousel-item {
	padding: 7% 15%;
}

/* Pricing Section */
#pricing {
	padding: 100px;
	text-align: center;
}

.pricing-column {
	padding: 3% 2%;
}

.pricing-card {
	min-height: 100%;
}

@media (max-width: 1460px) {
	h1 {
		font-size: 2.5rem;
		margin-bottom: 10%;
	}

	#title {
		text-align: center;
	}

	.download-button {
		margin-bottom: 15%;
	}

	.title-image {
		position: static;
		transform: rotate(0);
	}

	.carousel-item h2 {
		font-size: 30px;
	}
}
